.cred-story {
 
  min-height: 100vh;
  background-image: url(back1.png);
  background-size: cover;
  
  position: relative;
}




.cred-story-heading-wrapper {
  width: 70%;
  flex-direction:row;
  -webkit-box-pack:justify;

}


 

.cred-story-detail {
  width: 70%;
  font-weight: 500;
  margin-left: 30px;
}

.cred-story-para {
  font-size: 25px;
  line-height: 28px;
  margin-top: 30px;
  max-width: 550px;
}

@media all and (max-width: 1279px) {
  .cred-story-heading {
    max-width: 100%;
  }
}

@media all and (max-width: 767px) {
  .cred-story {
    background-image: url(https://web-images.credcdn.in/_next/assets/images/home-page/trust-bg-mobile.jpg);
  }

  .cred-story-heading {
    font-size: 50px;
    line-height: 60px;
    padding-bottom: 80px;
  }

  .cred-story-para {
    font-size: 15px;
  }

  .story-wrapper {
    flex-direction: column;
    padding: 70px 0px;
  }

  .cred-story-heading-wrapper {
    width: 100%;
  }

  .cred-story-detail {
    width: 100%;
  }
}
